<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheet/style.css' />
    <script src="https://code.jquery.com/jquery-3.3.1.js" integrity="sha256-2Kok7MbOyxpgUVvAk/HJ2jigOSYS2auK4Pfzbm7uH60="crossorigin="anonymous"></script>
    <script src="javascripts/script.js"></script>
  </head>
  <body>
    <a href="/users">Users</a>
    <h1><%= title %></h1>
    <input type="button" value="send ajax" id="btnSendAjax">
  </body>
</html>
